/* webstudio */
:root {
--color-primary:#2E2F42;
--color-brand:#404BBF;
--color-secondary:#434455;
--color-brand-second:#4D5AE5;
--color-button-title:#FFFFFF;
--color-footer-text:#E7E9FC;
--color-logo-footer:#F4F4FD;
}

body {
color: var(--color-primary);
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 1.5;
}

ul{
list-style-type:none ;
}

.header-link {
color: var(--color-primary);
text-decoration: none;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
font-weight: 500;
}
.header-link:hover {
color: var(--color-brand);}


.header-adress {
font-weight: 400;
letter-spacing: 0.02em;
font-size: 16px;
line-height: 1.5;
color: var(--color-secondary);
}
.header-adress:hover {
color: var(--color-brand);
}
.button {
color: var(--color-button-title);
background: var(--color-brand-second);
border-radius: 4px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
cursor: pointer;
font-size: 16px;
line-height: 1.5;
font-family: 'Roboto',sans-serif;
letter-spacing: 0.04em;
}
.button:hover{
background:var(--color-brand);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.logo-first {
color: var(--color-brand-second);
}
.logo-second {
color: var(--color-primary);
}
.logo {
text-transform: uppercase;
font-size: 18px;
line-height: 1.33;
font-family: 'Raleway',sans-serif;
text-decoration: none;
letter-spacing: 0.03em;
font-weight: 800;
}
.logo-footer{
color: var(--color-logo-footer);
}

.hero-title {
color: var(--color-button-title);
font-size: 56px;
line-height: 1.071;
letter-spacing: 0.02em;
}
.hero-button {
background: var(--color-primary)
}

.section1 {
display: none;
} 
.under-title {
font-size: 20px;
line-height: 1.2;
color:var(--color-primary);
letter-spacing: 0.02em;
font-weight: 500;
}

.about-text {
font-size: 16px;
line-height: 1.5;
color: var(--color-secondary);
letter-spacing: 0.02em;
}

.title {

font-size: 36px;
line-height: 1.11;
color:var(--color-primary);
letter-spacing: 0.02em;
}

.colega {
font-size:20px;
line-height: 1.2;
color: var(--color-primary);
font-weight: 500;
letter-spacing: 0.02em;
}

.card-profession1 {
color: var(--color-secondary);
font-size:20px;
line-height: 1.2;
font-weight: 400;
letter-spacing: 0.02em;
}
.card-profession2{
color: var(--color-secondary);
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.card-profession3{
color: var(--color-secondary);
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.card-profession4{
color: var(--color-secondary);
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.name-section-team {
color: var(--color-primary);
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
}

.footer-text {
color:var(--color-footer-text);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.footer{
background:var(--color-primary);
}


/* Portfolio */

.button-all {
font-size: 16px;
line-height: 1.5;
color: var(--color-button-title);
letter-spacing: 0.04em;
background: var(--color-logo-footer);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
cursor: pointer;
font-family: 'Roboto',sans-serif
}
.button-all:focus{
background: var(--color-brand);
}
.button-all:hover{
    background: var(--color-brand);
}


.button-website {
letter-spacing: 0.04em;
color: var(--color-brand-second);
font-size: 16px;
line-height:1.5;
cursor: pointer;
background: var(--color-logo-footer);
border: 1px solid #E7E9FC;
border-radius: 4px;
font-family: 'Roboto', sans-serif;
}
.button-website:focus {
background: var(--color-brand);
}

.button-website:hover {
background: var(--color-brand);
}


.button-app {
letter-spacing: 0.04em;
font-size: 16px;
line-height: 1.5;
cursor: pointer;
color: var(--color-brand-second);
background: var(--color-logo-footer);
border: 1px solid #E7E9FC;
border-radius: 4px;
font-family: 'Roboto', sans-serif;
}
.button-app:focus {
background: var(--color-brand);
}

.button-app:hover {
background: var(--color-brand);
}

.button-design {
letter-spacing: 0.04em;
font-size: 16px;
line-height: 1.5;
cursor: pointer;
color: var(--color-brand-second);
background: var(--color-logo-footer);
border: 1px solid #E7E9FC;
border-radius: 4px;
font-family: 'Roboto', sans-serif;
}
.button-desing:focus {
background: var(--color-brand);
}

.button-desing:hover {
 background: var(--color-brand);
}
.button-marketing {
letter-spacing: 0.04em;
font-size: 16px;
line-height: 1.5;
cursor: pointer;
color: var(--color-brand-second);
background: var(--color-logo-footer);
border: 1px solid #E7E9FC;
border-radius: 4px;
font-family: 'Roboto', sans-serif;
}
.button-marketing:focus {
background: var(--color-brand);
}

.button-marketing:hover {
background: var(--color-brand);
}

 .section-port {
display: none;
 }
.title-portfolio{
color: var(--color-primary);
letter-spacing: 0.02em;
font-size: 20px;
line-height: 1.2;
font-weight: 500;
}
 .under-title-port {
font-size: 16px;
line-height:1.5;
letter-spacing: 0.02em;
color: var(--color-secondary);
font-family: 'Roboto',sans-serif;
 }

